* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins, sans-serif;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  /* overflow-x: hidden; */
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: #2d2e32f4;
  background-color: #fff;
  box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.293);
}

.NavBar h1 {
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
}

.NavBar ul {
  display: flex;
  gap: 30px;
  color: #2d2e32;
  font-size: 1.2rem;
}

.rightNav a {
  text-decoration: none;
  color: #2d2e32cf;
}

.rightNav li {
  list-style: none;
  font-weight: 600;
}

.rightNav ul a:hover {
  color: #147efb;
}

main {
  background-color: #fff;
}

.part1 {
  height: 100%;
  width: 100%;
  background-color: #8e8e8e15;
  padding: 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
}

.RightContent h1 {
  font-size: 50px;
  font-weight: 800;
  color: #2d2e32;
}

#dev {
  padding-left: 90px;
}

.RightContent img {
  width: 62px;
  margin-bottom: -10px;
}

.RightContent p {
  text-transform: capitalize;
  color: #2d2e32cc;
  padding-top: 30px;
  font-size: 20px;
  /* margin-left: -30px; */
}

.RightContent a {
  color: rgba(0, 0, 0, 0.645);
  font-size: 35px;
  margin-right: 10px;
}

.LeftContent img {
  width: 350px;
  border-radius: 50%;
  border: 1.5px solid black;
  animation-duration: 8s;
  animation: morph 8s ease-in-out infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: morph;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.part2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 50px;
}

.tech-stack img {
  width: 50px;
  margin-left: 30px;
  border-radius: 12px;
}

#html {
  margin-left: 60px;
}

#css {
  width: 40px;
}

#js {
  width: 48px;
}

#bootstrap {
  width: 60px;
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.tech-stack h1 {
  text-transform: capitalize;
  border-right: 2px solid rgba(0, 0, 0, 0.55);
  padding-right: 22px;
  font-size: 17px;
}

.tech-stack img:hover {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  transition: ease 2s;
}

@keyframes bounce {
  50% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 120px;
}

#laptop {
  width: 500px;
  border-radius: 15px;
}

#working {
  bottom: 35px;
  position: absolute;
  right: 5px;
  width: 96px;
  z-index: 10;
}

#text {
  width: 213px;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: ease-in-out 55s;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 8s linear infinite;
}

.frontend-anim {
  position: relative;
}

.frontend-anim span {
  background-color: #fff;
  border-radius: 50%;
  bottom: -30px;
  height: 213px;
  position: absolute;
  right: -55px;
  width: 213px;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.right-content2 h1 {
  font-size: 20px;
  font-weight: 800;
  color: #147efb;
}

.right-content2 {
  padding: 30px;
  text-transform: capitalize;
}

.right-content2 h2 {
  font-size: 25px;
  font-weight: 800;
  color: #2d2e32;
}

.right-content2 p {
  font-size: 15px;
  margin-top: 30px;
  font-weight: 400;
  color: #2d2e32b7;
}

.part3 {
  width: 100%;
  height: 100%;
  background-color: #8e8e8e15;
}

.part3 {
  padding: 50px;
}

.project a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.img-box img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-box img {
  object-fit: cover;
  object-position: center;
  width: 305px;
  border-radius: 12px;
  transition: transform 2s;
}

#sundown-img {
  width: 350px;
}

#dict {
  width: 350px;
  margin-left: -20px;
}

#newproject {
  text-transform: capitalize;
}

.part4 {
  width: 100%;
  height: 100%;
}

.content3 {
  display: flex;
  flex-direction: column;
}

.content3 h1 {
  color: #147efb;
  text-transform: capitalize;
  margin: 30px 100px;
  font-size: 22px;
  font-weight: 700;
}

.content3 h2 {
  margin: 0px 100px;
  font-size: 35px;
}

.contacts {
  display: flex;
  margin: 60px 100px;
  font-size: 20px;
  gap: 30px;
}

.contacts a {
  text-align: center;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  /* margin:20px 0px; */
}

#mail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  box-shadow: 1px 1px 6px 2px;
}

#loaction {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  box-shadow: 1px 1px 6px 2px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #2d2e32;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}

.footer-left-content h2 {
  font-size: 20px;
}

.footer-right-content a {
  font-size: 30px;
  margin-right: 10px;
}
